.bar {
  width: 12px;
  height: 12px;
}

.page_title i {
  font-size: 14px;
}

.bar_column {
  width: 48px;
}


:host ::ng-deep .date_range.p-calendar {
  .date_range_panel.p-datepicker {
    width: 62rem;
    display: flex;
    .calendar-header {
      flex: 3;
    }

    .p-datepicker-group-container {
      flex: 9;
      .p-disabled, .p-component:disabled {
        opacity: 1;
      }
      .p-datepicker-other-month {
        .p-disabled, .p-component:disabled {
          opacity: 0.38;
        }
      }
    }
  }
}

:host ::ng-deep tbody tr.has-action td {
  cursor: pointer;
}

.vs-button {
  font-size: 10px;
  padding-left: 16px;
  cursor: pointer;
}
.vs-button i {
  font-size: 10px;
}

.fixed-position {
  position: fixed;
  z-index: 100;
  width: calc(100% - 4rem);
  background-color: transparent;
  padding-bottom: 0rem
}

.page_title {
  margin-bottom: 0 !important;
  padding-bottom: 2rem !important;
  background-color: var(--surface-ground) !important;
}

.fixed-margin {
  margin-top: 222px;
}

.filter_statistics {
  h5 {
    font-size: 20px;
    white-space:pre-wrap;
    margin-bottom: 0;
  }
}

.disable_event_area {
  pointer-events: none;
}
:host ::ng-deep .disable_event_control .date_range.p-calendar>input, :host ::ng-deep .disable_event_control .date_range.p-calendar>button {
  pointer-events: none;
}
